## 1 常用方法

In [3]:
# 获取手机号码后四位
'13812345678'[7:]

'5678'

In [6]:
# 将中间四位替换成*
phone_num='13812345678'
phone_num.replace(phone_num[3:7],'****')

'138****5678'

In [7]:
# 分割
email='1234@qq.com'
email.split('@')

['1234', 'qq.com']

In [8]:
# 将str中每个字符用符号连接
'-'.join('python')

'p-y-t-h-o-n'

In [9]:
# 去掉str中头尾空白
str=' lisi '
str.strip()

'lisi'

In [11]:
str.lstrip()

'lisi '

In [12]:
str.rstrip()

' lisi'

In [13]:
# 计算子串在str中的个数
str='hello world, hello python, hello nc'
str.count('hello')

3

In [14]:
# 查询子串所在的位置
str.index('world')

6

In [15]:
str.index('hello')

0

In [16]:
str.find('hello')

0

In [17]:
str.find('python')

19

In [18]:
# 判断str是否以sth开头
str.startswith('hello')

True

In [20]:
# 判断str是否以sth结尾
str.endswith('hello')

False

## 2 正则表达式

In [21]:
import re

In [22]:
str="{name:'lisi',age:23,sex:'man'},{name:'zhangsan',age:22,sex:'man'},{name:'wanger',age:21,sex:'woman'}"

In [24]:
# 查询
re.findall("name:'(.*?)'",str)

['lisi', 'zhangsan', 'wanger']

In [25]:
re.findall('\w*a\w*',str)

['name',
 'age',
 'man',
 'name',
 'zhangsan',
 'age',
 'man',
 'name',
 'wanger',
 'age',
 'woman']

In [26]:
# 替换
re.sub('[,:]',' ',str)

"{name 'lisi' age 23 sex 'man'} {name 'zhangsan' age 22 sex 'man'} {name 'wanger' age 21 sex 'woman'}"

In [28]:
re.split(':',str)

['{name',
 "'lisi',age",
 '23,sex',
 "'man'},{name",
 "'zhangsan',age",
 '22,sex',
 "'man'},{name",
 "'wanger',age",
 '21,sex',
 "'woman'}"]